<!-- Employee Card: Muestra en forma de tabla los datos obtenidos en la lista de empleados
    proporcionada por el padre. Incluye un input para filtrar/buscar empleados.
-->
<br />
<div class="row justify-content-end">
    <input class="form-control" style="max-width: 300px; margin:0 4px"
           @bind="input"
           @bind:event="oninput"
           @bind:after="Find"
           placeholder="Search:" />
    @*<input class="form-control" style="max-width: 300px; margin:0 4px" @bind="searchInput" placeholder="Search:" />*@
    <InputSelect class="form-select" style="max-width: 150px; margin:0 4px"
                 @bind-Value="option" @bind-Value:after="Find">

        <option class="text-opacity-25" value="">--Search by--</option>
        <option value="Name">Name</option>
        <option value="Position">Position</option>
        <option value="Email">Email</option>
    </InputSelect>

    @* <button class="btn btn-outline-primary" style="max-width: 80px; margin: 0 4px" @onclick="Find">Find</button> *@
    <button class="btn btn-outline-secondary" style="max-width: 80px" @onclick="Clear">Clear</button>
</div>


<input type="checkbox" @bind="ShowDeleteButton" class="form-check-input" />
<span>
    Show Delete Button
</span>
<br />
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Position</th>
            <th class="text-center">Email</th>
            <th class="text-center">Salary</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (employees is null || IsLoading)
        {
            <tr>
                <td colspan="5">Loading employees...</td>
            </tr>
        }

        else if (employees.Count == 0)
        {
            <tr>
                <td colspan="5">No employees found.</td>
            </tr>
        }
        else
        {
            @foreach (var employee in employees)
            {
                <tr @key="employee">
                    <td>@employee.Name</td>
                    <td>@employee.Position</td>
                    <td>@employee.Email</td>
                    <td class="text-end">$@employee.Salary</td>
                    <td class="text-center">
                        @if (ShowDeleteButton)
                        {
                            <button class="btn btn-danger btn-sm"
                                    disabled="@IsLoading"
                                    @onclick="() => Delete(employee)">
                                Delete
                            </button>
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

@code {

    bool ShowDeleteButton = false;
    string input = string.Empty;
    string option = string.Empty;

    [Parameter]
    [EditorRequired]
    public List<Employee>? employees { get; set; }
    [Parameter]
    public EventCallback<EmployeeSearch> OnSearch { get; set; }
    [Parameter]
    public EventCallback<Employee> OnDelete { get; set; }
    [Parameter]
    [EditorRequired]
    public bool IsLoading { get; set; }

    protected async Task Find()
    {
        if (!string.IsNullOrWhiteSpace(input))
        {
            await OnSearch.InvokeAsync(new EmployeeSearch(option ,input.Trim()));
        }
    }

    protected async Task Clear()
    {
        if (!string.IsNullOrWhiteSpace(input))
        {
            input = "";
            option = "";
            await OnSearch.InvokeAsync(new EmployeeSearch("", ""));
            StateHasChanged();
        }
    }

    protected async Task Delete(Employee employee)
    {
        await OnDelete.InvokeAsync(employee);
    }
}
