@page "/employees"
@inject IRepository repositorio
@attribute [StreamRendering]
@rendermode InteractiveServer



<PageTitle>Employees</PageTitle>
<div>
    <h3>@StringUtilities.TransformToTitleCase("Employees")</h3>
    <p>This is a page for employees management</p>
    <EmployeeCard employees="employees"/>

</div>


@code {
    private List<Employee>? employees { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(800);
            employees = repositorio.GetEmployees();
            StateHasChanged();
        }
    }
   
}
