@page "/employees"
@inject IRepository repositorio

@rendermode InteractiveServer

<PageTitle>Employees</PageTitle>
<div>
    <h3>@StringUtilities.TransformToTitleCase("Employees")</h3>

    <p>This is a page for employees management</p>
    <br />

    <EmployeeCard employees="employees"/>

</div>


@code {
    private List<Employee>? employees { get; set; }

    protected override void OnInitialized()
    {
        employees = repositorio.GetEmployees();
    }
   
}
